<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Logo window -->
    <link
      rel="shortcut icon"
      href="../img/Logos/patinarte.ico"
      type="image/x-icon"
    />
    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/8d6b79b36f.js"
      crossorigin="anonymous"
    ></script>

    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <title>Sobre Nosotros</title>
  </head>
  <body>
    <!-- Inicio Header -->
    <header class="header">
      <nav class="navbar container-fluid">
        <div class="logo">
          <img src="../img/hero/logo.png" alt="Logotipo de PatinArte" />
        </div>
        <!-- Menu Hamburguesa -->
        <input type="checkbox" name="" id="check" />
        <label for="check" class="navbar__menu-icon"
          ><i class="fa-solid fa-bars"></i
        ></label>
        <!-- Links -->
        <ul class="navbar__items">
          <li class="navbar__item">
            <a href="../../index.html" class="navbar__link">Inicio</a>
          </li>
          <li class="navbar__item">
            <a href="../views/shop.html" class="navbar__link">Productos</a>
          </li>
          <li class="navbar__item">
            <a href="../../index.html" class="navbar__link">Contacto</a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- Fin Header -->
    <!-- Inicio Main -->
    <main>
      <section class="about container">
        <h1>Nuestra Historia</h1>

        <article class="about__content">
          <div class="equipo">
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/26O2deE3zcI?si=edlB78M-VlYQomB3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="about__history">
            <p>
              PatinArte es una empresa familiar fundada por Germán Soler, padre de <b>Giselle Soler</b>, actual campeona mundial 2021, en un
              comienzo nos dedicábamos exclusivamente al Patinaje Artístico,
              pero luego fuimos incorporando nuevas diciplinas.
            </p>
            
            <p>
              Contamos con un equipo altamente capacitado y comprometido con la
              satisfacción del cliente. Te atendemos de lunes a viernes de 11 a
              20 hrs y los sábados de 8 a 15 hrs. Más información puedes
              solicitarla en Contacto.
            </p>
            <p>Te esperamos!</p>
          </div>
        </article>
      </section>
    </main>
    <!--  -->
    <!-- Inicio Footer -->
    <footer class="p-5 pt-md-5 border-top container-fluid">
      <div class="row container">
        <div class="col-12 col-md pl-8">
          <img
            class="mb-2"
            src="../img/hero/logo.png"
            alt="Logo de nuestra marca PatinArte"
            width="120"
            height=""
          />
          <p class="link-secondary">Lideres en venta de patines</p>
          <div class="redes">
            <a href="https://es-la.facebook.com/"
              ><i class="fa-brands fa-facebook"></i
            ></a>
            <a href="https://www.instagram.com/"
              ><i class="fa-brands fa-instagram"></i
            ></a>

            <a href="https://web.whatsapp.com/"
              ><i class="fa-brands fa-whatsapp"></i
            ></a>
            <a href="https://www.gmail.com/mail/help/intl/es/about.html?iframe"
              ><i class="fa-regular fa-envelope"></i
            ></a>
          </div>
        </div>
        <div class="col-6 col-md">
          <h5>Info y Ayuda</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Sobre Nosotros</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Contactar</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Privacidad</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Precio de envío</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Área de clientes</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Inicio de Sesión</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Condiciones de venta</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Política de Pricacidad</a
              >
            </li>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Terminos</a
              >
            </li>
          </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Contactos</h5>
          <ul class="list-unstyled text-small">
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Dirección</a
              >
            </li>
            <p>Av. Emilia 15 47838 - Mar del Plata</p>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#"
                >Teléfono</a
              >
            </li>
            <p>+54 9 11 490 841521</p>
            <li class="mb-1">
              <a class="link-secondary text-decoration-none" href="#">Email</a>
            </li>
            <p>PatinArte46@gmail.com</p>
          </ul>
        </div>
      </div>
      <small class="d-block pb-md-4 copy text-center"
        >&copy;Segura-Marisa 2023 - Potrero Digital - Profesor: Emiliano</small
      >
    </footer>
    <!-- Fin Footer -->
  </body>
</html>
