/* Geberales */
body {
    font-family: 'Poopins', sans-serif;
}
/* Header */
.prod-header {
    position: static;
    margin-bottom: 1rem;
}
.prod-hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20vh;
    margin-bottom: 2em;
}
.prod-hero span i {
    font-size: 30px;
    color: #FE6700;
}
.carrito {
    padding: 20px;
    background-color: burlywood;
    border-radius: 5px;
}
#buscador {
    background: none;
    border: none;
    padding: 5px;
    
}
.buscar {
    display: flex;
    flex-wrap: nowrap;
    width: 250px;
    border: #FE6700 2px solid;
}

.buscar i {
    flex-grow: 1;
    padding: 10px;
    color: #000;
}
.titulo_galeria {
    font-style: italic;
    text-align: center;
}
/* Main */
.main-prod {
    margin-top: 0px;
}

.galeria {
    max-width: 95%;
    max-height: auto;
    margin: 2px auto;
    cursor: pointer;
    padding: 1px;
    text-align: center;
}
    
.galeria__title {
    font-family: 'Poppins', sans-serif;
    font-size: 2.1em;
    color: #ff8c00;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #000 2px;
}
    
.galeria__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
} 
.galeria__card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 25px;
    position: relative;
    margin: 2em 1em;
}
.galeria__img {
    width: 60%;
    object-fit: cover;
    margin: auto;
}
.galeria__img-title {
    font-size: 1.24rem;
    color: #FE6700;
    text-align: center;
    padding: 10px;
}
.boton-item {
    padding: 15px;
    background-color: #FE6700;
    margin-bottom: 2px;
} 
 /*Responsive Design  */
/* Tablet */
@media (min-width: 768px) and (max-width: 1200px) {
    .galeria__card {
        width: 100%;
        margin: 2em .5em;
    }
    .galeria__img {
        width: 80%;
       
    }
    .galeria__img-title {
        font-size: 1rem;
        color: #FE6700;
        text-align: center;
        padding: 10px;
    }
    .btn_buscar i {
       padding-right: 0;
    }
}

/* Teléfono */
@media (max-width: 767px) {
    .galeria__content {
        flex-direction: column;
        margin: 0;
    }
    .galeria__card {
        width: 70vw;
        height: auto;
        margin-bottom: 0;
    }
}
